.fill{
  position:absolute;
  left:6px;
  top:6px;
  bottom:6px;
  width:80%;
  max-width:80%;
  border-radius:17px;
  background:var(--color);
  z-index:2;
  pointer-events:none;
}

.name{
  position:absolute;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:3;
  padding:0 18px;

  font-family:Arial,sans-serif !important;
  font-size:39px;
  line-height:1;
  font-weight:900;
  font-style:italic !important;

  color:#fff;

  /* tira o contorno bugado */
  -webkit-text-stroke:0 !important;
  text-shadow:none !important;

  pointer-events:none;
}
